.all-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}
.container-icon{
    font-size: 3.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}
.route-register{
    cursor: pointer;
    font-weight: 400;
    font-family: 'Catamaran', sans-serif;
    margin-top: 3.5rem;
    color: rgb(118, 118, 118);;
}
.date-confirm{
    color: black;
    font-family: 'Catamaran', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 15rem;
    margin-bottom: 15rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}