.container-inputs-ship{
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message-error{
    font-family: 'Catamaran', sans-serif;
    margin-top: 0.5rem;
    color: rgb(118, 118, 118);
}
.container-icon{
    margin-top: 0;
}
.icon-login-1{
    font-size: 3rem;
}
.container-btn{
    margin-top: 1rem;
}