.container-int{
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-categories{
    display: flex;
}
.your-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(118, 118, 118);
    gap: 4rem;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Catamaran', sans-serif;
    margin-top: 5rem;
    margin-bottom: 6rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    width: 100%;
}
.categories-int:hover{
    color: black;
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}
.the-latest{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 1.5rem;
    margin-right: 34rem;
}
.latest-container{
    display: flex;
    gap: 0.1rem;
}
.take{
    color: rgb(118, 118, 118);;
}
.col-products{
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
}
.cont-treatment-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.status{
    display: flex;
    position: relative;
    top: 13%;
    right: 120%;
}
.img-product-shop{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 5rem;

}
.img-movil-shop{
    width: 10rem;
}

@media(max-width: 1400px){
    .the-latest{
        margin-right: 14.5rem;
    }
}

@media(max-width: 1200px){
    .your-categories{
        gap: 2.8rem;
    }
}
@media(max-width: 1000px){
    .your-categories{
        gap: 2.4rem;
    }
}
@media(max-width: 854px){
    .your-categories{
        display: flex;
        flex-direction: column;
        margin-top: 7rem;
    }
    .the-latest{
        margin-right: 1.3rem;
    }
}
@media(max-width: 658px){
    .the-latest{
        margin-right: 0rem;
        font-size: 1.5rem;
    }
}
@media(max-width: 480px){
    .the-latest{
        
        font-size: 1.07rem;
    }
}