.all-footer{
    background-color: white;
    width: 100%;
    margin-top: 8rem;
    
}
.col-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
.title-footer{
    color: black;
    font-size: 2.1rem;
    font-weight: 500;
    margin-top: 5.5rem;
    margin-bottom: 1.5rem;
}
.col-footer-int{
    display: flex;
    color: white;
    gap: 7rem;
    margin-top: 6rem;
    font-family: 'Exo', sans-serif;
    justify-content: center;
}
.footer-title{
    font-weight: 600;
    font-size: 1.1rem;
    color: black;
    font-family: 'Catamaran', sans-serif;
    letter-spacing: 0.1rem;
}
.footer-other{
    font-size: 0.95rem;
    color: rgb(191, 191, 191);
    font-family: 'Catamaran', sans-serif;
    
}
.separator-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.separator{
    height: 1rem;
    color: rgb(191, 191, 191);
    width: 58.3%;
}

.content-advisor{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}
.advisor{
    text-align: left;
    margin-bottom: 3rem;
    color: rgb(191, 191, 191);
    font-size: 0.8rem;
    font-family: 'Catamaran', sans-serif; 
}
