.container-register{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.route-register-2{
    display: flex;
    position: relative;
    right: 9.7%;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Catamaran', sans-serif;
    margin-top: 3.5rem;
    color: rgb(118, 118, 118);;

}
.navigator-login{
    font-weight: 500;
    font-family: 'Catamaran', sans-serif;
    margin-top: 3.5rem;
    color: rgb(141, 141, 141);;
}
.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.registerSendDeac {

    color: #fff;
    background-color: black;
    border-color: black;
    font-family: 'Catamaran', sans-serif;
    border-radius: 0.1rem; /* Agrega un borde redondeado */
    padding: 0.5rem 1rem; /* Agrega un padding a los lados */
    font-size: 1rem; /* Tamaño de fuente */
    margin-top: 1rem;
    line-height: 1.5; /* Altura de línea */
    text-align: center; /* Alineación de texto */
    text-decoration: none; /* Elimina la subraya del enlace si se aplica */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
    transition: all 0.15s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 3.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    
}
.registerSendAct {
    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registerSendAct:hover {

    transition: 1s;
    /*background-color: darkred;*/
    background-color: rgb(172, 172, 172);
    color: black;
    font-family: 'Catamaran', sans-serif;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}